/* LoginPage.css */

/* Style for the outer container */
.login-container {
  display: flex;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height to fill the viewport */
  background-size: contain;/* Ensure the background image covers the container */
  background-repeat: no-repeat; /* Prevent background image repetition */
  background-position: left; /* Center the background image */
  background-attachment: fixed; /* Fixed background image */
  background-color: #fff; /* Fallback background color */
  background-image: url('./stanf.webp'); /* Path to your background image */
}

/* Style for the login content */
.login-content {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  background-position: right;
  background-size: auto;
  margin-top: 0;
  margin-left: 900px;
  padding: 10px;
  border-radius: 0px;
  text-align: center;
  max-width: 400px; /* Maximum width for the content */
}

/* Style for form elements */
.login-content label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.login-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for buttons */
.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 150px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-button {
  background-color: #28a745;
  width: 150px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.register-button:hover {
  background-color: #1e7e34;
}

h1{
  color:darkgoldenrod;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 40px;
}