/* App.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container-fluid {
  padding: 0;
}

/* Navigation bar */
.navbar {
  background-color: #17a2b8;
}

.navbar-text {
  color: #ffffff;
  margin-right: 20px;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

.nav-link {
  color: #ffffff !important;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: #17a2b8;
  border: none;
}

.dropdown-item {
  color: #b90c0c ;
}